In [1]:
import pandas as pd
from sklearn.datasets import load_boston

In [2]:
boston = load_boston()

C:\Users\guIlherme\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [3]:
df = pd.DataFrame(boston.data, columns=boston.feature_names)
df['target'] = boston.target
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [4]:
target = df.pop('target')

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df, target, train_size = 0.8, test_size = 0.2, random_state = 0)

## Gradient Boosting

In [6]:
from sklearn.ensemble import GradientBoostingRegressor

In [7]:
gradr = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)

In [8]:
gradr.fit(X_train, y_train)

GradientBoostingRegressor(random_state=42)

In [9]:
from sklearn.model_selection import cross_val_score

In [11]:
score = -1*cross_val_score(gradr, X_test, y_test, cv=10, scoring='neg_mean_absolute_error').mean()
score

3.062012848541953

In [12]:
gradr_preds = gradr.predict(X_test)

gradr_comparison = pd.DataFrame()
gradr_comparison['Valor Real'] = y_test
gradr_comparison['Predição'] = gradr_preds

gradr_comparison.head(10)

     Valor Real   Predição
329        22.6  24.509386
371        50.0  31.991749
219        23.0  23.695919
403         8.3  10.670755
78         21.2  22.330107
15         19.9  20.626791
487        20.6  20.828585
340        18.7  20.720449
310        16.1  23.422303
102        18.6  18.567367

## Random Forest

In [13]:
from sklearn.ensemble import RandomForestRegressor

In [14]:
# Criando um regressor de Random Forest com 200 árvores de decisão.
rfr = RandomForestRegressor(n_estimators = 200, random_state = 42)

In [15]:
# Treinando o modelo no dataset de treino
rfr.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200, random_state=42)

In [16]:
# Retorna o erro médio do nosso modelo no dataset de teste
score = -1*cross_val_score(rfr, X_test, y_test, cv = 10, scoring = 'neg_mean_absolute_error').mean()

score

3.1664081818181815

In [17]:
# Gerando as predições
rfr_preds = rfr.predict(X_test)

# Criando um dataframe para comparar o valor real com nossas predições
rfr_comparison = pd.DataFrame()
rfr_comparison['Valor Real'] = y_test
rfr_comparison['Predição'] = rfr_preds

rfr_comparison.head(10)

     Valor Real  Predição
329        22.6   24.1025
371        50.0   27.7065
219        23.0   22.0475
403         8.3   11.0535
78         21.2   20.8120
15         19.9   20.6605
487        20.6   21.3490
340        18.7   20.0240
310        16.1   20.4790
102        18.6   18.8080