In [2]:
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.datasets import load_iris

In [3]:
data = load_iris()
iris = pd.DataFrame(data['data'], columns=data.feature_names)
iris['target'] = data.target
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [5]:
x = iris.drop('target', axis=1)
y = iris.target

In [7]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
cross_val_score(gnb, x, y, cv=10).mean()

0.9533333333333334

In [8]:
gnb.fit(x, y)
media = pd.DataFrame(gnb.theta_, columns=x.columns, index=gnb.classes_)
desv_padrao = pd.DataFrame(gnb.sigma_, columns=x.columns, index=gnb.classes_)

C:\Users\guIlherme\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:103: FutureWarning: Attribute `sigma_` was deprecated in 1.0 and will be removed in1.2. Use `var_` instead.
  warnings.warn(msg, category=FutureWarning)

In [9]:
media

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0              5.006             3.428              1.462             0.246
1              5.936             2.770              4.260             1.326
2              6.588             2.974              5.552             2.026

In [10]:
desv_padrao

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.121764          0.140816           0.029556          0.010884
1           0.261104          0.096500           0.216400          0.038324
2           0.396256          0.101924           0.298496          0.073924